barchart-body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10 10 10 10;
  position: absolute;
  width: 100px;
  background-color:#E0E0E0;
  color: lightgrey;
}

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

form {
  position: absolute;
  right: 5px;
  top: 5px;
}
